:root {
  --primary-text-color: #757575;
  --line-color: #ececec;
  --border-color: #eeeeee;
  --primary-title-color: #212121;
  --second-title-color: #ffffff;
  --accent-color: #2196f3;
  --order-color: #2f303a;
  --second-accent-color: #188ce8;
  --footer-color: #2f303a;
  --background-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  border: 1px solid var(--line-color);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--second-title-color);
  color: var(--primary-title-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*--логотип--*/

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-logo.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.studio-dark {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

/*--меню навигации--*/

.menu-link {
  display: flex;
}

.menu-link .menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-list {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-list:hover,
.menu-list:focus,
.menu-list.current,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/*--контакты--*/

.header-contacts {
  display: flex;
  margin-left: auto;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-email,
.header-tel {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts .menu-item + .menu-item {
  margin-left: 50px;
}

/*--эффективные решения для вашего бизнеса--*/

.section-order {
  background-color: var(--order-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  color: var(--second-title-color);
  margin-bottom: 30px;
}

.order-button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  justify-content: center;
  letter-spacing: 0.06em;
  height: 50px;
  color: var(--second-title-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin: 0 auto;
}

.order-text-button {
  padding: 10px 32px;
}

.order-button:focus,
.order-button:hover {
  background-color: var(--second-accent-color);
}

/*--особенности--*/

.features-list {
  display: flex;
  justify-content: center;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  visibility: hidden;
}

.features-name {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  width: 270px;
  height: 16px;
}

.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 270px;
  height: 75px;
}

/*--чем мы занимаемся--*/

.section-activities {
  padding-bottom: 94px;
}

.activities-list {
  display: flex;
}

.activities-item:not(:last-child) {
  margin-right: 30px;
}

.activities-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 50px;
}

/*--наша команда--*/

.section-team {
  background-color: var(--background-color);
}

.team-list {
  display: flex;
}

.team-title {
  font-family: inherit;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  background-color: var(--second-title-color);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.team-profession {
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

/*--Футер--*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  background-color: var(--footer-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.studio-light {
  color: var(--second-title-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.adress {
  font-style: normal;
}

.adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.contacts-link {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-link:focus,
.contacts-link:hover {
  color: var(--accent-color);
}

/*-----------projects-----------*/

.projects,
.projects:hover {
  visibility: hidden;
  display: none;
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  text-align: start;
  margin-bottom: 4px;
}

.projects-list {
  font-family: inherit;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-item:not(:last-child) {
  margin-right: 8px;
}

.projects-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: start;
}

.button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--primary-title-color);
  padding: 6px 22px;
}

.button .current,
.button:focus,
.button:hover,
.button.active-button :hover,
.button.active-button :focus {
  background-color: var(--accent-color);
  color: var(--second-title-color);
}

.projects-navigation {
  display: flex;
  flex-wrap: wrap;
}

.projects-icons {
  width: 370px;
  height: 404px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-icons:nth-child(3n) {
  margin-right: 0px;
}

.projects-icons:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-content {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
